@charset "UTF8";
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  background-color: gray;
}

header {
  background-image: linear-gradient(to top, black, white);
  color: white;
  width: 100vw;
  height: 200px;
  padding-top: 30px;
  text-align: center;
  font-size: 2em;
}

section {
  background-color: rgba(78, 78, 236, 0.856);
  height: 350px;
}
div#dados {
  background-color: lightgray;
  color: black;
  font-style: normal;
  font-weight: bolder;
}
div#res {
  background-color: darkgrey;
  color: red;
}

footer {
  background-color: black;
  color: white;
}
